.card {
  background: none;
  border: none;
}

.imgWrapper {
  width: 100%;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  will-change: transform;
  transform-origin: center center;
  transform: translateZ(0);
}
