.bookingcarticon {
  font-size: var(--text-large);
  cursor: pointer;
  opacity: 0.7;
  color: var(--dark-primary);
  transition: color 0.3s ease;
}

.bookingcarticon:hover {
  color: var(--color-hover-link);
}
