.bookingcarticon {
  font-size: 20px;
  cursor: pointer;
  color: var(--dark-primary);
  transition: color 0.3s ease;
};

.bookingcartBadge {
  color: var(--color-primary);
};

.bookingcarticon:hover {
  color: #631c1a;
}