.hamburger {
  display: none;
  font-size: var(--text-large);
}

@media (max-width: 1024px) {
  .hamburger {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .hamburger {
    font-size: 18px;
    grid-row: 2;
  }
}
