.stayConnectedTitle {
  font-size: var(--text-regular);
  margin-bottom: 20px;
  color: var(--dark-primary);
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-medium);
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 28px;
}

.description {
  color: var(--dark-primary);
  font-family: var(--font-heading);
  font-size: var(--text-small);
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
}

.contactTitle {
  font-size: var(--text-regular);
  font-family: var(--font-heading);
  color: var(--dark-primary);
  letter-spacing: var(--letter-spacing-medium);
  font-weight: 400;
  margin: 28px;
  margin-left: 0;
}

.contactInfo {
  margin-bottom: 16px;
}

.phone {
  font-size: var(--text-regular);
  color: var(--dark-primary);
  margin-bottom: 8px;
  font-weight: 500;
  display: block;
}

.email {
  color: var(--dark-primary);
  font-family: var(--font-heading);
  text-decoration: underline;
  font-size: var(--text-regular);
  display: block;
  transition: color 0.2s ease;
}

.email:hover {
  color: var(--color-hover-link);
}

.signUpButton {
  padding: 12px 24px;
  margin: 8px 0;
  font-size: var(--text-small);
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-hover-link);
  cursor: pointer;
}

.signUpButton:hover {
  border-color: transparent !important;
  transform: scale(1.05);
}

.socialLinks {
  display: flex;
  gap: 20px;
  margin-top: 6px;
}

.socialLink {
  color: var(--dark-primary);
  font-size: 28px;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebookIcon {
  width: 24px;
  height: 24px;
  background-color: var(--dark-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 16px;
  border-radius: 5px;
  padding-top: 2px;
}

.facebookIcon:hover {
  background-color: var(--color-hover-link);
}
.socialLink:hover {
  color: var(--color-hover-link);
}

@media (max-width: 1200px) {
  .stayConnected {
    margin-left: 0;
  }
}

@media (max-width: 1020px) {
  .stayConnected {
    margin-top: 32px;
  }

  .signUpButton {
    margin-left: 0px;
  }
  .stayConnectedTitle {
    margin-left: 20px;
  }
}
