.card {
  background: transparent !important;
  border: none;
}

.imgWrapper {
  overflow: hidden;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.imgWrapper:hover .image {
  cursor: pointer;
  transform: scale(1.1);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

:global(.ant-card .ant-card-cover > *) {
  border-radius: 0;
}

:global(.ant-card .ant-card-body) {
  padding: 16px 2px 0;
}

:global(.ant-card .ant-card-meta-title) {
  color: var(--dark-primary);
  font-family: var(--font-heading);
  font-size: var(--text-small);
  letter-spacing: var(--letter-spacing-medium);
  margin-bottom: 10px;
  cursor: pointer;
}

:global(.ant-card .ant-card-meta-description) {
  color: var(--dark-primary);
  font-family: var(--font-body);
  font-size: var(--text-regular);
  letter-spacing: var(--letter-spacing-small);
  margin-bottom: 8px;
}

.price {
  color: var(--color-secondary);
  font-family: var(--font-body);
  font-size: var(--text-small);
  font-weight: 500;
  margin-top: -4px;
  letter-spacing: var(--letter-spacing-medium);
}
