.desktopFooter {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 15px;
}

.columnsWrapper {
  display: flex;
  gap: 240px;
  flex: 1;
  justify-content: center;
  margin-left: 30px; 
}

.stayConnectedWrapper {
  flex-shrink: 0;
  margin-left: auto;
  
}

.column {
  flex: 0 0 auto;
  min-width: 150px;
}

.columnTitle {
  font-size: var(--text-regular);
  margin-bottom: 20px;
  color: var(--dark-primary);
  font-family: var(--font-heading);
  font-weight: bold;
  letter-spacing: var(--letter-spacing-medium);
  text-transform: uppercase;
  margin-top: 0;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkItem {
  margin-bottom: 15px;
}

.link {
  color: var(--dark-primary);
  text-decoration: none;
  font-size: var(--text-small);
  text-transform: uppercase;
  font-family: var(--font-heading);
  letter-spacing: var(--letter-spacing-medium);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-hover-link);
  text-decoration: underline;
}
