.desktopFooter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
  width: 100%;
  flex-wrap: nowrap;
  padding-bottom: 15px;
  margin-left: 32px;
  padding: var(--section-padding-y) 0;
}

.column {
  flex: 0 1 auto;
  min-width: 150px;
}
.stayConnectedWrapper {
  flex: 0 1 250;
  min-width: 250px;
}
.columnTitle {
  font-size: var(--fs-200);
  margin-bottom: 28px;
  color: var(--color-text);
  font-family: var(--font-heading);
  font-weight: bold;
  letter-spacing: var(--ls-200);
  text-transform: uppercase;
  margin-top: 0;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkItem {
  margin-bottom: 15px;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--fs-100);
  text-transform: uppercase;
  font-family: var(--font-heading);
  letter-spacing: var(--ls-200);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-hover-link);
  text-decoration: underline;
}

.linkList .linkItem:last-child {
  margin-bottom: 0;
}

.mobileFooter {
  padding-bottom: 32px;
  margin-left: 8px;
  display: none;
}

.collapse {
  background-color: transparent !important;
  border: none;
}

.collapse :global(.ant-collapse-item) {
  border-bottom: 1px solid var(--color-text) !important;
}

.collapse :global(.ant-collapse-header) {
  font-family: var(--font-heading) !important;
  font-size: var(--fs-100) !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  color: var(--color-text) !important;
  padding: 20px 0 !important;
}

.collapse :global(.ant-collapse-content) {
  background-color: transparent !important;
  border: none !important;
}

.collapse :global(.ant-collapse-content-box) {
  padding: 0 0 20px 0 !important;
}

.collapse :global(.ant-collapse-expand-icon) {
  color: var(--color-text) !important;
}

.expandIcon {
  font-size: var(--fs-200) !important;
  font-weight: 400;
  margin-right: 10px;
  color: var(--color-text) !important;
  transition: transform 0.3s ease;
  display: inline-block;
  transform: rotate(0deg);
}

.expandIconActive {
  transform: rotate(90deg);
  color: var(--color-text) !important;
}

@media (max-width: 1400px) {
  .desktopFooter {
    gap: 160px;
  }
}

@media (max-width: 1300px) {
  .desktopFooter {
    gap: 100px;
  }
}

@media (max-width: 1200px) {
  .desktopFooter {
    gap: 80px;
  }
}

@media (max-width: 1110px) {
  .desktopFooter {
    gap: 60px;
  }
}

@media (max-width: 1020px) {
  .desktopFooter {
    display: none;
  }
  .mobileFooter {
    display: block;
  }
}
