.topRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

:global(.ant-card .ant-card-cover > *) {
  border-radius: 0;
}

:global(.ant-card .ant-card-body) {
  padding: 0;
}

:global(.ant-card .ant-card-meta-title) {
  color: var(--color-text);
  font-family: var(--font-heading);
  font-size: var(--fs-100);
  letter-spacing: var(--ls-200);
  cursor: pointer;
}

:global(.ant-card .ant-card-meta-description) {
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--fs-200);
  text-align: center;
  letter-spacing: var(--ls-100);
  margin: 16px 0 8px;
}

.price {
  color: var(--color-secondary);
  font-family: var(--font-body);
  font-size: var(--fs-100);
  font-weight: 500;
  letter-spacing: var(--ls-200);
  padding-top: 2px;
}
