.categories {
  margin: 40px 0;
  width: 100%;
  padding: 20px 0;
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.sectionTitle {
  margin-bottom: 16px;
}

.cardTitle {
  margin-top: 16px;
}

.image {
  transition: transform 4s ease;
}

.image:hover {
  transform: scale(1.1);
}
