.nav {
  width: 100%;
}

.drawerNav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.drawerList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.navItem a {
  position: relative;
  font-size: var(--text-small);
  letter-spacing: var(--letter-spacing-medium);
  text-transform: uppercase;
  font-family: var(--font-heading);
  color: var(--dark-primary);
}

.navItem > a:hover {
  font-weight: 600;
}

hr {
  border: 0;
}

@media (max-width: 1020px) {
  .nav:not(.drawerNav) {
    display: none;
  }

  .navItem {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
  }

  .navItem:last-child {
    border-bottom: none;
    margin-bottom: 10px;
  }

  .navItem > a:hover::after {
    width: 0;
  }

  hr {
    position: relative;
    left: -24px;
    width: calc(100% + 48px);
    border: 0;
    border-top: 1px solid #e0dfdf;
  }
}

@media (max-width: 480px) {
  .navItem > a:hover::after {
    width: 0;
  }
}
