.nav {
  position: relative;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  position: relative;
}

.navItem > a {
  position: relative;
  font-size: var(--text-small);
  letter-spacing: var(--letter-spacing-medium);
  text-transform: uppercase;
  font-family: var(--font-heading);
  color: var(--dark-primary);
}

.navItem > a::after {
  content: '';
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--color-hover-link);
  width: 0;
  transition: width 0.25s ease;
}

.navItem > a:hover::after {
  width: calc(100%);
}

.navItem > a:hover {
  font-weight: 600;
}

hr {
  border: 0;
}

@media (max-width: 1023px) {
  .nav {
    ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    .navItem {
      width: 100%;
      border-bottom: 1px solid #f2f2f2;
      padding: 10px 0;
    }

    .navItem:last-child {
      border-bottom: none;
      margin-bottom: 10px;
    }

    .navItem > a {
      color: var(--dark-primary);
    }

    .navItem > a:hover {
      color: var(--color-hover-link);
    }

    .navItem > a:hover::after {
      width: 0;
    }

    hr {
      position: relative;
      left: -24px;
      width: calc(100% + 48px);
      border: 0;
      border-top: 1px solid #e0dfdf;
    }
  }
}

@media (max-width: 480px) {
  .navItem > a:hover::after {
    width: 0;
  }
}
