.nav {
  position: relative;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  position: relative;
}

.navItem > a {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family:
    Brilliant Cut,
    Almarai,
    Helvetica,
    Arial,
    sans-serif;
}

.navItem > a::after {
  content: '';
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #631c1a;
  width: 0;
  transition: width 0.25s ease;
}

.navItem > a:hover::after {
  width: calc(100%);
}

.navItem > a:hover {
  font-weight: 600;
}

@media (max-width: 992px) {
  .nav {
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .navItem > a {
    color: var(--dark-primary);
  }

  .navItem > a:hover {
    color: #631c1a;
  }
}

@media (max-width: 480px) {
  .navItem > a:hover::after {
    width: 0;
  }
}
