.mobileFooter {
  padding-bottom: 32px;
  margin-left: 0;
}

.collapse {
  background-color: transparent !important;
  border: none;
}

.collapse :global(.ant-collapse-item) {
  border-bottom: 1px solid var(--dark-primary) !important;
}

.collapse :global(.ant-collapse-header) {
  font-family: var(--font-heading) !important;
  font-size: var(--text-small) !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  color: var(--dark-primary) !important;
  padding: 20px 0 !important;
}

.collapse :global(.ant-collapse-content) {
  background-color: transparent !important;
  border: none !important;
}

.collapse :global(.ant-collapse-content-box) {
  padding: 0 0 20px 0 !important;
}

.collapse :global(.ant-collapse-expand-icon) {
  color: var(--dark-primary) !important;
}

.expandIcon {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  color: var(--dark-primary) !important;
  transition: transform 0.3s ease;
  display: inline-block;
  transform: rotate(0deg);
}

.expandIconActive {
  transform: rotate(90deg);
  color: var(--dark-primary) !important;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkItem {
  margin-bottom: 12px;
}

.link {
  color: var(--dark-primary);
  text-decoration: none;
  font-size: var(--text-regular);
  text-transform: uppercase;
  font-family: var(--font-heading);
  letter-spacing: var(--letter-spacing-medium);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-hover-link);
  text-decoration: underline;
}
