.header {
  background-color: var(--color-primary);
  width: 100%;
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 0;
}

.logoContainer {
  justify-self: start;
}

.menuDesktop {
  display: block;
}

.headerRight {
  justify-self: end;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 1020px) {
  .menuDesktop {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    gap: 8px;
  }

  .headerContent {
    grid-template-columns: 1fr 1fr 8fr;
  }
}
