.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.headerRight {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navDesktop {
  display: block;
}

.hamburger {
  display: none;
  font-size: 22px;
}

.showOnMobile {
  display: none;
}

@media (max-width: 992px) {
  .navDesktop {
    display: none;
  }

  .hamburger {
    display: inline-flex;
  }
  .hamburger {
    display: block;
  }
}

.hideOnMobile {
  display: block;
}

@media (max-width: 480px) {
  .header {
    gap: 8px;
  }

  .hamburger {
    font-size: 18px;
  }

  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    margin-top: 15px;
  }

  .showOnMobile > div {
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    align-items: center;
  }

  .mobileUserText {
    font-size: 12px;
    color: #100e19;
    letter-spacing: var(--letter-spacing-medium);
    text-transform: uppercase;
    font-family:
      Brilliant Cut,
      Almarai,
      Helvetica,
      Arial,
      sans-serif;
  }


  .showOnMobile:hover {
    color: #631c1a;
    font-weight: 600;
  }

  .showOnMobile:hover .mobileUserText {
    color: #631c1a;
  }

}
