.cartIcon {
  font-size: var(--text-large);
  cursor: pointer;
  transition:
    font-size 0.3s ease,
    color 0.3s ease;
}

.cartIcon {
  color: var(--dark-primary);
  background-color: none;
}

.cartIcon:hover {
  color: var(--color-hover-link);
}

.cartBadge {
  color: var(--color-white);
}
