@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--dark-primary);
  font-family: 'Playwrite CU', cursive;
  letter-spacing: var(--letter-spacing-small);
}
.logo {
  height: 30px;
  width: auto;
  cursor: pointer;
  display: block;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .logoContainer {
    gap: 2px;
  }
  .logoText {
    font-size: var(--text-regular);
    letter-spacing: 0.1px;
  }

  .logo {
    height: 20px;
  }
}
