.infoHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}

.infoIcon {
  font-size: var(--text-large);
  color: var(--dark-primary);
}

.infoTitle {
  font-family: var(--font-heading);
  font-size: var(--text-regular);
  color: var(--dark-primary);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-medium);
  font-weight: 600;
}

.infoDescription {
  font-size: var(--text-regular);
  color: var(--dark-primary);
  font-family: var(--font-body);
}
