.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  font-size: 20px;
}

.userIcon:hover {
  color: #631c1a;
}

@media (max-width: 480px) {
  .userIcon {
    font-size: 18px;
  }
}
