.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  font-size: var(--text-large);
}

.userIcon:hover {
  color: var(--color-hover-link);
}

@media (max-width: 480px) {
  .userIcon {
    font-size: var(--text-regular);
  }
}
