.footer {
  background-color: var(--color-white);
  width: 100%;
  margin-top: auto;
}

.bottomBar {
  border-top: 1px solid #a1a1a5 !important;
  margin: 0 auto;
  padding: 20px 0;
  background-color: var(--color-white);
}

.bottomContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  color: var(--dark-primary);
  font-size: var(--text-small);
  font-family: var(--font-heading);
  margin-left: 10px;
}

@media (max-width: 1020px) {
  .footer {
    padding: 32px 0 0;
  }

  .bottomContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    margin: 0 auto;
    text-align: center;
  }
}
