.footer {
  background-color: var(--color-white);
  padding: 20px 0 0;
  width: 100%;
  margin-top: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.bottomBar {
  border-top: 1px solid var(--color-secondary) !important;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: var(--color-white);
}

.bottomContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  color: var(--dark-primary);
  font-size: var(--text-small);
  font-family: var(--font-heading);
  margin: 0;
}

@media (max-width: 958px) {
  .footer {
    padding: 32px 0 0;
  }

  .bottomContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
  }
}
