:root {
  --color-primary: #ffffff;
  --color-secondary: #b13024;
  --color-hover-link: #850710;
  --dark-primary: #1d1c1c;
  --font-heading: 'Brilliant Cut Pro';
  --font-body: 'Fancy Cut Pro', Almarai, Times, serif;
  --text-small: 14px;
  --text-regular: 16px;
  --text-large: 22px;
  --letter-spacing-small: 0.4px;
  --letter-spacing-medium: 0.8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--dark-primary);
  font-size: 15px;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-small);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
