.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.image {
  transition: transform 6s cubic-bezier(0.22, 1, 0.36, 1);
}

.image.zoomed {
  transform: scale(1.1);
}
