.categories {
  width: 100%;
  padding: var(--section-padding-y) 0;
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 992px) {
  .categories {
    padding: var(--section-padding-mobile) 0;
  }
}
